<% if (site.posts.length){ %>
  <div class="archiveslist">
    <p class="asidetitle"><a href="<%- config.root %>archives"><%= __('归档') %></a></p>
    <%- list_archives({format: 'YYYY 年 MM 月'}) %>
  </div>
<% } %>
